/*
!/.gitignore

!/kitty/

!/nvim/
/nvim/*
!/nvim/init.vim
!/nvim/include
!/nvim/coc-settings.json

!/ranger/
/ranger/*
!/ranger/rc.conf
!/ranger/rifle.conf

!/tmux/

!/i3/

!/zsh/
/zsh/.zcompdump

!/sway/

!/waybar/
