/*
!/.gitignore

!/fish/
/fish/*
!/fish/config.fish
!/fish/fishfile
!/fish/functions

!/kitty/

!/nvim/
/nvim/*
!/nvim/init.vim
!/nvim/include
!/nvim/coc-settings.json

!/ranger/
/ranger/*
!/ranger/rc.conf
!/ranger/rifle.conf

!/tmux/

!/i3/
