/*
!/.gitignore

!/kitty/

!/nvim/
/nvim/plugin/*

!/ranger/
/ranger/*
!/ranger/rc.conf
!/ranger/rifle.conf
!/ranger/scope.sh

!/tmux/

!/i3/

!/zsh/
/zsh/.zcompdump
/zsh/.zsh_history
/zsh/.zsh_sessions
/zsh/.zcompcache

!/sway/

!/waybar/

!/goneovim/

!/skhd/

!/yabai/
